.NavBarStyle{
  width: 100%;
  background-color:white;
  height: 55px;
  border-bottom: 2px solid rgb(239, 239, 239);
  position:fixed;
  z-index: 99;
}
.topic{
  width: 1200px;
  /* background-color:rgb(64, 103, 162); */
  margin: 0 auto;
  display: flex;
}

.unfocusInput{
  width: 400px;
  border: solid 1px #f6f6f6;
  position: relative;
  border-radius: 30px;
  height: 30px;
  margin: 10px 30px 0px  30px ;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: rgb(170, 170, 170);
  padding: 0px 0px 0px 10px;
  z-index: 0;
  background-color: #f6f6f6;
}

.focusInput{
  width: 400px;
  border: solid 1px #bababa;
  position: relative;
  border-radius: 30px;
  height: 30px;
  margin: 10px 30px 0px  30px ;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: rgb(170, 170, 170);
  padding: 0px 0px 0px 10px;
  z-index: 1;
  background-color: #f6f6f6;
}

.topic div{
  margin: 0px 15px;
  line-height: 50px;
  color: #8893a8;
  font-size: 15px;
}

.logo{
  font-size: 30px;
  line-height: 50px;
  margin:0px 30px 0px 0px;
}

.topic input{
  position: absolute;
  border-style: none;
  outline: none;
  width: 350px;
  top:6px;
  left:10px;
  z-index: 1;
  background-color: #f6f6f6;
}

.question{
  height: 30px;
  background-color: #056de8;
  margin: 10px 0px;
  width: 70px;
  border-radius: 20px;
  outline:none;
  border: none;
  color:white
}

.home{
  border-bottom: #056de8 5px solid;
}