.createTitle{
  font-weight:900;
  font-size: 15px;
  float: left;
  line-height: 30px;
}

.createTop{
  height: 30px;
}

.draftsman{
  color: #8590a6;
  font-size: 10px;
  float: right;
  line-height: 30px;
}


.function{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    font-size: 10px;
    text-align: center;
}
.circle{
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #8590a6;
  margin: 10px auto;
  position: relative;
}

.circle svg{
  position: absolute;
  top:7px;
  left: 7px;
}

.createCenter{
  width: 260px;
  background-color: white;
  box-shadow:rgba(87, 87, 87, 0.3) 0px 0px 3px;
  padding: 15px;
  border-radius: 2px;
  margin-left: 10px;
}

.actionCreate{
  height: 140px;
  padding: 20px 0px 0px 0px;
}

.center{
  background-color: #f9f9fa;
  padding: 15px 10px;
}

.centerGrid{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.GridRight{grid-column: span 2 / auto;}


.createButtom{
  border: #8fb6f4 1px solid;
  border-radius: 3px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color:#1a71e9;
  margin-top: 10px;
}