.follower{
  width: 260px;
  background-color: white;
  box-shadow:rgba(87, 87, 87, 0.3) 0px 0px 3px;
  padding: 15px;
  border-radius: 2px;
  margin-left: 10px;
  margin-top: 7px;
}

.recommendFollerTitler{
  font-weight:900;
  font-size: 15px;
  line-height: 30px;
}
.followerList{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}


.followerListCenter{
  grid-column: span 3 / auto;
  margin-top: 7px;
}

.avatar{
  width: 38px;
  border-radius: 3px;
  margin-top: 5px;
}

.name{
  font-size: 12px;
}

.description{
  color:#a7a7a7;
  font-size: 10px;
}

.bottom{
  text-align: center;
  color:#a7a7a7;
  font-size: 10px;
}
.bottom div{
  
  margin: 0px 5px;
  display: inline;
}

.followButtom{
  color:#056de8;
  font-size: 13px;
  line-height: 35px;
}